fastapi==0.115.0
uvicorn[standard]==0.30.6

# Base de datos
SQLAlchemy==2.0.35
psycopg2-binary==2.9.9

# Templates
jinja2==3.1.4

# Utilidades
python-dotenv==1.0.1

# Generación de QR
qrcode[pil]==7.4.2
pillow==11.0.0

# Pandas solo si usas exportaciones CSV/Excel
pandas==2.2.3
openpyxl==3.1.5
